body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-size: 200% 100% !important;
    background: linear-gradient(to bottom right, #4fb7e7 10%, #dfdfdf);
    height: 100vh; 
}

